
#container{
    width: 100vw;
    height: 100vh;
    position: relative;

}

.navbarr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid  #994BA0;
    box-shadow: rgba(153, 75, 160 , 0.5) 0px 25px 50px -12px;
}

.navbarr img {
width: 250px;
height: auto;

}
.navbarr ion-icon{
    padding-left: 3px;
    font-size: 30px;
    color: #994BA0;
}
.navbarr  ion-icon:active{
    transform: scale(1.1);
}

.middle{

}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    border-top: 1px solid  #994BA0;
    background-color: #994BA0;
    height: 60px;
    width: 100%;
}
.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.option ion-icon{
    font-size: 35px;
    color: white;
}
.option ion-icon:active{
    transform: scale(1.1);
}

.option h1{
    color: white;
    font-size: 15px;
}

/*SLIDER DE JOGOS*/

  .wrapper {

  }
  .horizontal-slider {
    width: 100%;
    height: 400px;
    margin: 15vh auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    color: white;
  
    display: flex;
    align-items: center;
    position: relative;
  }
  .active {
    scroll-snap-type: none;
  }
  .horizontal-slider::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-left: 0.5rem;
    height: 90%;
    scroll-snap-align: start;
 
    display: flex;
flex-direction: column;
border: 0.5px solid #994BA0;

}    
.premio{
  margin-top: 15px;
    width: 100%;
    height: 80px;

}
.premio h1{
    font-size: 20px;
    color: #994BA0;
    font-weight: bold;
    text-align: center;
}
.premio h4{
    color: #898289;
    font-size: 15px;
    text-align: center;
}

.premio h2{
    color: #898289;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
.premio-footer{

    border-top: 1px solid #994BA0;
    width: 100%;
    height: 80px;

    position: absolute;
    bottom: 0;
}
.data{
    display: flex;
    align-items: center;

width: 100%;
height: 50%;
}
.tempo{
    display: flex;
    align-items: center;

    width: 100%;
    height: 50%;
}
.data ion-icon{

    color: black;
    font-size: 20px;

}
  
.tempo ion-icon{
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}
.sorteio{
    padding: 5px;
    color: black;
    font-size: 10px;
    
}
.sorteio-tempo{
    padding: 5px;
    color: black;
    font-size: 10px;
    margin-bottom: 20px;
}

  .card img {
    background-color: #bc60c4;
    width:230px;
    height: auto;
    border-bottom: 1px solid #994BA0;
  }
  .card button{
   color: white;
   font-weight: bold;
    width: 70%;
    height: 60px;
    background-color: #994BA0;
    border-radius: 8px;
    border: none;
  }
  .card  button:active{
    transform: scale(0.98);
}



  
  .hor-scroll .btn {
    position: absolute;
  
    top: 185px;
    transform: translateY(-50%);
  
    height: 30px;
    width: 30px;
  
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  
    z-index: 1;
  }
  