

   #hideOnClick{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
 



   .logo-image img{ 
    width: 250px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 10px;
}


.cadastro h1{
    text-align: center;
    color: #994BA0;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: underline;


}
.cadastro  h1:active{
    transform: scale(0.98);
}
.cadastro a{
    text-decoration: none;
}

.cadastro  {
    display: flex;
    flex-direction: column;
  

}
.cadastro input{
    border: none;
    font-size: 15px;
    width: 250px;
    height: 42px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color:#994BA0;
    color: white;
    
}
.cadastro ::placeholder{
    color: white;
   padding: 5px;
}

.cadastro  button{
    margin-top: 20px;
    border: none;
    font-size: 15px;
    width: 250px;
    height: 42px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(153, 75, 160, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    color: #994BA0;
    font-weight: bold;

}
.cadastro  button:active{
    transform: scale(0.98);
}




